#sidebar {
    width: 200px;       /* 给侧边栏一个宽度 */
    height: 100vh;      /* 侧边栏高度与视窗高度一致 */
    background-color: #fff; /* 背景色为白色 */
    color: #333;        /* 字体颜色 */
    padding: 20px;      /* 内边距 */
    position: absolute; /* 绝对定位 */
    left: 0;            /* 位置靠最左 */
    top: 0;             /* 位置靠顶部 */
    z-index: 2000;     /* 确保它在大多数元素之上 */
}

#section2 {
    position: relative; /* Make sure this is set so that the legend positions correctly */
    background: #4682b4; /* SteelBlue */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-align: center;
    z-index: 1000;
}

#map {
    position: absolute;
    left: 200px;
    /* 从sidebar的右边界开始 */
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}