section {
    position: relative; /* 确保 section 具有相对定位 */
    border-width: 40px 20px; /* 上下 40px，左右 20px */
    border-style: solid; /* 确保边框为实线 */
    border-color: #333; /* 边框颜色 */
    box-sizing: border-box; /* 边框和内填充包含在宽度和高度内 */
    z-index: 100;
}

#section0 {
    border: none; /* 移除id为section0的元素的边框 */
    background-image: url('../image/1.jpg'); /* 设置背景图片 */
    background-size: cover; /* 覆盖整个section，不重复 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复背景图 */
    color: rgb(255, 255, 255); /* 设置文字颜色 */
    padding-top: 70px; /* 顶部填充 */
}

#section0 h1 {
    font-size: 30px; /* 注释文字的大小 */
    color: rgb(255, 255, 255); /* 可以选择一种较淡的颜色以区分注释和主文字 */
}

#section0 .note {
    font-size: 14px; /* 注释文字的大小 */
    color: rgb(255, 255, 255); /* 可以选择一种较淡的颜色以区分注释和主文字 */
    margin-top: 5px; /* 在主文字和注释之间添加一些空间 */
}

#map {
    width: 100%; /* 地图容器宽度为 100% */
    height: 100%; /* 地图容器高度为 100% */
    position: absolute; /* 绝对定位确保填满 section */
    top: 0;
    left: 0;
    z-index: 900;
}

#legend {
    z-index: 1000;
}

.sidebar {
    position: absolute; /* 绝对定位 */
    right: 0;            /* 位置靠最左 */
    top: 0;             /* 位置靠顶部 */
    z-index: 1100;     /* 确保它在大多数元素之上 */
    width: 22%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /* 使得padding包含在宽度范围内 */
    background-color: rgba(235, 235, 235, 0.8); /* 修改背景颜色和透明度 */
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: large;
    color: #333;
    overflow-y: auto;
}

.divider {
    height: 1px; /* 横线高度 */
    width: 100%; /* 使其与侧边栏宽度一致 */
    background-color: #8f8f8f; /* 横线颜色 */
    margin-top: 10px; /* 你可以根据需要调整间距 */
    margin-bottom: 10px;
}

.layer {
    border-bottom: 1px solid #bcbcbc; /* 或其他颜色 */
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #333;
    font-size: large;
}

.layer-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-size: medium;
}

.sub-info {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.legend-title {
    font-size: 10px;
    color: #aaa;
    margin-bottom: 5px;
}

.legend-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.legend-list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.legend-circle {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}

#toggle-map-icon-em {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-em:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#toggle-map-icon-urban {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-urban:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#toggle-map-icon-gp {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-gp:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#toggle-map-icon-hosp {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-hosp:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#toggle-map-icon-schp {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-schp:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#toggle-map-icon-schs {
    cursor: pointer;
    padding: 5px; /* 为图标增加一些内边距，以便更容易点击 */
    border-radius: 5px; /* 给图标方框一些圆角样式 */
    transition: background-color 0.2s; /* 平滑过渡效果 */
}

#toggle-map-icon-schs:hover {
    background-color: #d3d3d3; /* 悬停时背景变暗 */
}

#chartContainer {
    position: absolute;
    left: 5px;   /* 从左边界偏移 */
    bottom: 5px; /* 从底部偏移 */
    z-index: 1100;
    background-color: white; /* 设置背景色确保图表可读 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 可选：添加阴影提升视觉效果 */
}



