body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }

        #legend {
            position: relative ;
            background: white;
            padding: 10px;
            font-family: Arial, sans-serif;
            top: 20px;
            left: 20px;
            z-index: 100;
            width: 50px;
            border: 1px solid #ccc;
        }
        .legend-title {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .legend-gradient {
            width: 100%;
            height: 200px;
            background: linear-gradient(to bottom, 
                rgba(178, 24, 43, 0.75), 
                rgba(239, 138, 98, 0.75), 
                rgba(209, 229, 240, 0.75), 
                rgba(103, 169, 207, 0.75), 
                rgba(33, 102, 172, 0.75));
            border: 1px solid #aaa; 
        }
        .legend-labels {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 47px;
            right: 20px;
            height: 200px;
            margin-top: 5px;;
        }
        .legend-labels span {
            position: relative;
            font-size: 10px;
        }




.radarpage {
    position: absolute;
    right: 0;   /* 从左边界偏移 */
    bottom: 0;
    background-color: white; /* 设置背景色确保图表可读 */
    height: 100%;
    width: 25%;
    overflow-y: scroll;
}

.radar-chart-container { 
    display: flex;
    flex-direction: column;
    padding:20px;
    background-color: #ffffff;
    height: 1000px; 
}

.radar-canvas-wrap {  
    flex: 0 0 auto;
    padding: 5px; 
    color:#333;
    position: relative;  /* 设置父容器为相对定位 */
    width: 300px;        /* 可根据实际需要调整 */
    height: 300px;       /* 可根据实际需要调整 */
    justify-content: center; /* 水平居中内容 */
    margin-top: 80px;
}

.radar-canvas-wrap h6 {
    position: absolute;  /* 设置 h6 为绝对定位 */
    top: 0;            /*顶部偏移，可根据需要调整 */
    left: 0;          /* 左侧偏移，可根据需要调整 */
    width: 80%;
    z-index: 10;         /* 确保 h6 在 canvas 上方 */
    background: rgba(255, 255, 255, 1); /* 可选：为了更好的可读性，给 h6 添加半透明背景 */
    text-align: center;
    font-weight: bold;
    padding: 5px;        /* 添加一些内边距 */
    border-radius: 5px;  /* 可选：圆角边框 */
    color: #333;         /* 字体颜色 */
    font-size: 1em;      /* 字体大小 */
    margin-top: 2%;
    margin-left: 10%;
}

.radar-canvas-wrap canvas {
    position: absolute;  /* 同样设置 canvas 为绝对定位 */
    top: 0;              /* 与父容器顶部对齐 */
    left: 0;             /* 与父容器左侧对齐 */
    width: 100%;         /* 填满父容器宽度 */
    height: 100%;        /* 填满父容器高度 */
}


#scrollable-section { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    top: 10px;
    width: 100%; 
}

h6 {
    margin-top: 20px;
}